/* Classe pour un bloc contenant plusieurs éléments disposés en flexbox */
.blocflex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;

  /* Classe pour chaque élément de type article dans le bloc */
  article {
    background-color: #FDFFEC;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 5px;
    flex: 1 0 300px;
    transition: all 0.3s ease;
    text-transform: capitalize;
    opacity: 80%;

    /* Effet de survol pour chaque article */
    &:hover {
      transform: translateY(-5px);
      box-shadow: 2px 5px 10px rgba(0,0,0,0.2);
      outline: 3px solid #7A0708;
      border-radius: 5px;
      text-decoration: none;
    }
  }
}

.blockflex__article{
  margin: 10px;
  padding: 5px;
  border: 1px solid #aaa;
  flex: 1 0 300px;
}
.blockflex__galerie{
  flex: 1 0 100%
}


/* FLEX DU PROF

.blocflex{
  display : flex;
  justify-content: space-between;
  flex-wrap: wrap;
  article {
      margin : 10px;
      padding : 5px;
      border : 1px solid #aaa;
      flex: 1 0 300px;
  }
} */

//  FLEX BOX premier
/* .blocflex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  padding: 10px;
  box-sizing: border-box;
}

.blocflex article {
  color: black;
  border: 1px solid #aaaaaa;
  flex: 1 0 300px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
}

.blocflex article:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
} */











