 .menu-entete-container {
  .menu {
    display: flex;

    .menu-item {
      margin-right: 20px;
      padding-right: 10px;

      a {
        text-decoration: none;
        color: #333;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;

        &:hover {
          color: #999;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
} 

  /* .menu-entete-container {

 **** MENU DU PROF ****

  .menu { //ul
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      list-style: none;

      .menu-item{ //li

          a{
            padding: 3px 5px;
            color: #555;
          }
          a:hover{
            color: greenyellow;
          }

      }

  }
}

 */
   