/* site__entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: navy;
    } */

.logomenu{
    /* Styles pour le logo du menu */
    flex: 1;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}
    
.menu-entete-container {
    /* Styles pour le conteneur de l'en-tête du menu */
    flex : 2;
    background-color: #D2CBB8;
    padding: 15px;
    font-weight: bolder;
    opacity: 60%;
    border-radius: 15px;
}
    
.menu {
    /* Styles pour le menu */
    /* display: flex;
    justify-content:space-around; */
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
    
.menu-item {
    /* Styles pour chaque élément du menu */
    margin-left: 20px;
    font-size:large;
    text-transform: capitalize;
    position: relative;
}
    
.menu-item:hover a {
    /* Styles pour le lien dans l'élément du menu survolé */
    color: aliceblue;
}
    
a{
    /* Styles pour les liens */
    padding : 3px 5px;
    color : black;
    text-decoration: none;
}
    
a:hover {
    /* Styles pour le lien survolé */
    color:#7A0708;
}

.recherche {
    /* Styles pour la zone de recherche */
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.recherche__input {
    /* Styles pour l'input de la zone de recherche */
    margin: 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.recherche__bouton {
    /* Styles pour le bouton de la zone de recherche */
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #555;
    color: #fff;
    cursor: pointer;
}

.recherche__icone {
    /* Styles pour l'icône de la zone de recherche */
    font-size: 1.2rem;
}
    


/* MENU A DROITE 

.menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;

    .menu-item {
        flex: 0 0 auto;
        margin: 0 10px;

        a {
            padding: 10px;
            color: #1f2122;
            text-decoration: none;
            transition: color 0.2s ease-in-out;
            border-radius: 5px;
        }

        a:hover {
            color: #fff;
            background-color: #0f0;
        }
    }
} */


/*  .site__entete {

}

.logomenu{
    display:flex;
    justify-content: space-between;
    align-items: center;

}



.menu-entete-container {
flex : 1;

.menu { //ul 
    display : flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left : auto;

.menu-item { // li
        flex : 1 0 50px;

    a{
        padding : 3px 5px;
        color : #555;
    }
    a:hover {
        color : #0f0;
    }

}

}

}  */







